# Name of the conda environment to use
conda_name=GLPI

# Database configuration for GLPI
MARIADB_ROOT_PASSWORD=
GLPI_DB_NAME=glpidb
GLPI_DB_USER=glpi_user
GLPI_DB_PASSWORD=

TIMEZONE=America/New_York
GLPI_HTTP_PORT=8080
GLPI_VERSION=latest